<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
    </head>
    <body>
        Hello Kalhara Batangala!!!!
        <h1>This is a sample header</h1>

        <p>Isuri Navodya</p>
    </body>
</html>